<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/style.css">
    <title>CassNews</title>
</head>

<body>
    <header>
        <div class="center">
            <div class="logo">
                <h2><a href="/"><span style="font-weight: 300;">Cass</span><span
                            style="font-weight: 700;">News</span></a></h2>
            </div>
            <div class="form-busca">
                <form action="/">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input name="busca" type="text" placeholder="Pesquisar">
                </form>
            </div>
        </div>
        <!--center-->
    </header>