<%- include('partials/header.html') %>

    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Busca</h2>
            <br><br>
            <div class="center">

                <div style="width: 100%;" class="mais-lidas">
                    <h3>
                        <%= contagem %>
                    </h3>
                    <div class="mais-lidas-noticias">
                        <% for(let i=0; i < contagem; i++) { %>
                            <div class="mais-lida-noticia-single">
                                <img src="<%= posts[i].imagem %>" alt="leao">
                                <div class="texto-mais-lida-single">
                                    <h4>
                                        <%= posts[i].categoria %>
                                    </h4>
                                    <br>
                                    <h3 style="color: #303336;">
                                        <%= posts[i].titulo %>
                                    </h3>
                                    <br>
                                    <%- posts[i].descricaoCurta %>...
                                        <a href="<%= posts[i].slug %>">Saiba mais</a>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer.html') %>
        </body>

        </html>